**Creating Tables And Inserting Records**

In [ ]:
### Create MySQL Connection And Connect
import mysql.connector as sql

connection = sql.connect(
  host="localhost",
  user="root",
  password="12345",
  database="student"     ##this is to connect with a particular database
)

print(connection)

#Create Table In MySQL using Python

In [ ]:
cursor = connection.cursor()

cursor.execute("CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

**Insert Records in Table**

In [ ]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
value = ("John", "Stats")
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

In [ ]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
values = [("Krish", "Stats"),
        ("Joe", "Maths"),
        ("Ankur","Data Science"),
        ("Paul","Data Science"),
        ("Vishal","Maths"),
        ("Krish","Data Science")]
cursor.executemany(query,values)    ##executemany to insert more than one records
print("Row inserted",cursor.lastrowid)

**Select All**

In [ ]:
cursor = connection.cursor()
cursor.execute("Select * from studentinfo")

In [ ]:
### Fetch All the Data
cursor.fetchall()

In [ ]:
### Fetch One Record At A time
cursor.fetchone()

In [ ]:
lst=cursor.fetchall()

In [ ]:
for records in lst:
    print(records)

In [ ]:
cursor.execute("Select * from studentinfo where name='thor'")

In [ ]:
### Fetch All the Data
cursor.fetchall()

**Select Particular Columns**

In [ ]:
cursor.execute("Select subject from studentinfo")
#### Fetch All
cursor.fetchall()

In [ ]:
## Select Distinct Columns
cursor.execute("SELECT DISTINCT subject from studentinfo")
#### Fetch All
cursor.fetchall()

In [ ]:
cursor.execute("SELECT name, subject FROM studentinfo WHERE name = 'Krish' OR subject = 'Data Science'") 
#### Fetch All
cursor.fetchall()

**Drop Table**

In [ ]:
cursor.execute("DROP TABLE studentinfo")